body{
  overflow-x: hidden;
}
//custom styles
.nav-section {
  background: linear-gradient(to right, rgba(166, 28, 87,0.15), rgba(241,241,241,1));
  nav {
    background: rgba(0, 0, 0, 0);
    .nav-link {
      font-weight: 700;
      margin-right: 40px;
    }
    .btn {
      font-weight: 500;
    }
  }
}

.banner {
  background: linear-gradient(to right, rgba(166, 28, 87,0.1), rgba(241,241,241,1));
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  // height: 400px;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    background: url("../assets/img/landingPage-1.png"), linear-gradient(to right, rgba(166, 28, 87,0.1), rgba(241,241,241,1));
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
}

//carousel
.carousel-item{
  height: 450px;
}
.carousel-image-1{
  background: transparent;
  background-size: cover;
}
.carousel-image-2{
  background: transparent;
  background-size: cover;
}
.carousel-image-3{
  background: transparent;
  background-size: cover;
}

.rating{
  color: gold;
}

.companies {
  background-color: #fbfbfb;
}

.custom-pill {
  display: inline;
  color: rgba(222, 214, 120);
  background-color: rgba(222, 214, 120, 0.2);
  border-radius: 30px;
  font-size: 17px;
  padding: 5px 15px;
}

.how-it-works {
  .custom-pill {
    margin: 0 auto;
  }
  background-color: #fbfbfb;
}

.get-started {
  background-color: #fbfbfb;
  .container {
    background: rgba(0, 0, 0, 0.863) url("../assets/img/get-started.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.footer {
  background-color: #1a0e0e;
  color: rgb(255, 255, 255);

  .footer-custom-pill {
    color: white;
    // background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    // margin: 0;
  }

  span {
    // background-color: rgba(255, 255, 255, 0.3);
    i {
      // width: 30px;
      // height: 30px;
      margin: 10px;
      font-size: 1.2rem;
      // background-color: rgba(255, 255, 255, 0.3);
      // padding: 15px;
      // border-radius: 50%;
    }
  }
}

.nav-pill {
  background-color: rgb(246, 243, 218);
  margin: 0;
  padding: 0;
  color: black;
  border-radius: 30px;
  p {
    margin: 0;
    font-size: 14px; // Default font size for small screens
  }
  @media screen and (min-width: 768px) {
    p {
      font-size: 116px; // Font size for medium screens
    }
  }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 18px; // Font size for large screens
    }
  }
}


//bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

//custom variables
$primary: rgb(166, 28, 87);

// importing bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
