@font-face {
  font-family: 'Axiforma';
  src: url("../assets/font/Axiforma-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: 'Axiforma', sans-serif !important;
  font-weight: 400;
}
// custom font size 
.content-font {
  // margin: 0;
  font-size: 16px; 
}
@media screen and (min-width: 768px) {
  .content-font {
    font-size: 18px; 
  }
}
@media screen and (min-width: 1024px) {
  .content-font {
    font-size: 20px; 
  }
}

//custom styles
.nav-section {
  nav {
    background: rgba(0, 0, 0, 0);
    .nav-link {
      font-weight: 700;
      margin-right: 40px;
    }
    .btn {
      font-weight: 500;
    }
  }
}
.linear-design {
  background: linear-gradient(
    to right,
    rgba(203, 142, 213, 0.24),
    rgb(241, 241, 241),
    rgba(241, 241, 241, 1)
  );
}

.banner {
  background: linear-gradient(
    to right,
    rgba(203, 142, 213, 0.24),
    rgb(241, 241, 241),
    rgba(241, 241, 241, 1)
  );
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  // height: 400px;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    background: url("../assets/img/landingPage-1.png"),
      linear-gradient(
        to right,
        rgba(203, 142, 213, 0.24),
        rgb(241, 241, 241),
        rgba(241, 241, 241, 1)
      );
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
}

.rating {
  color: rgba(255, 160, 51, 1);
}

.companies {
  background-color: #fbfbfb;
}

.custom-pill {
  display: inline;
  color: rgba(222, 214, 120);
  background-color: rgba(222, 214, 120, 0.2);
  border-radius: 30px;
  font-size: 17px;
  padding: 5px 15px;
}

.how-it-works {
  .custom-pill {
    margin: 0 auto;
  }
  background-color: #fbfbfb;
}

.get-started {
  background-color: #fbfbfb;
  .container {
    background: rgba(0, 0, 0, 0.863) url("../assets/img/get-started.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

//this is for the services page
.services-tab {
  .container {
    .tabs {
      display: flex;
      ul {
        display: flex;
        list-style-type: none;
        line-height: 30px;
        border: 1px solid rgba(241, 245, 249, 1);
        margin: 0;
        padding: 0;
        border-radius: 5px;

        .active {
          color: white;
          background-color: rgba(154, 26, 75, 1);
          border-radius: 5px;
        }

        li {
          padding: 5px;
          margin: 1px;
          font-size: 16px; 
          border: 1px rgba(241, 245, 249, 1);
          text-align: center;
          transition: border 1s ease-in-out;
        }
        @media screen and (min-width: 768px) {
          li {
            padding: 8px;
            font-size: 16px; 
          }
        }
        @media screen and (min-width: 1024px) {
          li {
            padding: 12px;
            font-size: 17px; 
          }
        }

        li:hover {
          cursor: pointer;
          border: 1px solid rgba(241, 245, 249, 1);
          margin: 0px;
        }
      }
    }
  }
}

/// this is for the contact page
.contact-info {
  p {
    font-size: 16px;
    border: solid 1px rgba(203, 213, 225, 1);
    color: rgba(203, 213, 225, 1);
  }
  @media screen and (min-width: 768px) {
    p {
      font-size: 18px; 
    }
  }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 20px; 
    }
  }
}

.footer {
  background-color: #1a0e0e;
  color: rgb(255, 255, 255);

  .footer-custom-pill {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin: 4px;
    font-weight: 400;
    font-size: 12px; 
    font-family: Poppins;

    // line-height: 24px;
  }
  @media screen and (min-width: 768px) {
    .footer-custom-pill {
      font-size: 16px; 
    }
  }
  @media screen and (min-width: 1024px) {
    .footer-custom-pill {
      font-size: 16px; 
    }
  }

  span {
    i {
      margin: 10px;
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 10px 10px;
    } 
  }
}

.nav-pill {
  background-color: rgb(246, 243, 218);
  margin: 0;
  padding: 0;
  color: black;
  border-radius: 30px;
  p {
    margin: 0;
    font-size: 12px; 
  }
  @media screen and (min-width: 768px) {
    p {
      font-size: 16px; 
    }
  }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 17px; 
    }
  }
}

//Custom checkout Stepper design
@import "checkout.scss";

//bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

//custom variables
$primary: rgb(166, 28, 87);

$accordion-icon-color: $primary;
$accordion-icon-active-color: $primary;

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus-lg' stroke='#{$accordion-icon-color}' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' stroke='#{$accordion-icon-active-color}' class='bi bi-dash-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/></svg>");

// importing bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
